@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  /* border: 0.5px solid green;  */
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.hide-scrollbar {
  overflow-y: hidden; 
  overflow-x: hidden; 
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

