@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  /* border: 0.5px solid green;  */
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}


